@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");

/* Fuentes tipográficas 
font-family: 'Inter', sans-serif;*/

/* Colores */

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: #ffffff;
}

#logoNavBar {
  width: 2rem;
}

.card-body {
  background-color: #0dcaf0;
}

